<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            
            <p>
                TODO List
            </p>
            <p>                              
                @Html.ActionLink("Task", "Index", "Task")
                @Html.ActionLink("SubTask", "Index", "SubTask")
                @Html.ActionLink("Categories", "Index", "Category")
                
            </p>
        </div>
    </section>
</div>
